
      <!-- insert -->
      <div id="detail-art" class="col-lg-8 my-2 mx-3" style=" font-family: 'Times New Roman', Times, serif;">
        <h1 style="margin-bottom: 40px; color: #1e2f8f ;"><strong>
            <%= data.article_name %>
          </strong></h1>
        <p><strong>
            <%= data.describe %>
          </strong></p>
      </div>
    </div>


    <hr style="width: 50%; margin-left: 25%; text-align: center;">
    <div id="comments" class="comments-area">
      <div id="respond" class="comment-respond">
        <h3 id="reply-title" class="comment-reply-title">Trả lời <small><a rel="nofollow" id="cancel-comment-reply-link"
              href="/huong-dan-tra-cuu-ket-qua-trung-tuyen-dai-hoc-he-chinh-quy-nam-2023/#respond"
              style="display:none;">Hủy</a></small></h3>
        <form action="https://tlus.edu.vn/wp-comments-post.php" method="post" id="commentform" class="comment-form"
          novalidate="">
          <p class="comment-notes"><span id="email-notes">Email của bạn sẽ không được hiển thị công khai.</span> <span
              class="required-field-message">Các trường bắt buộc được đánh dấu <span class="required">*</span></span>
          </p>
          <p class="comment-form-comment"><label for="comment">Bình luận <span class="required">*</span></label>
            <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required=""></textarea>
          </p>
          <p class="comment-form-author"><label for="author">Tên <span class="required">*</span></label> <input
              id="author" name="author" type="text" value="" size="30" maxlength="245" autocomplete="name" required="">
          </p>
          <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input
              id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes"
              autocomplete="email" required=""></p>
          <p class="comment-form-url"><label for="url">Trang web</label> <input id="url" name="url" type="url" value=""
              size="30" maxlength="200" autocomplete="url"></p>
          <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent"
              name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label for="wp-comment-cookies-consent">Lưu
              tên của tôi, email, và trang web trong trình duyệt này cho lần bình luận kế tiếp của tôi.</label></p>
          <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Phản hồi"> <input
              type="hidden" name="comment_post_ID" value="1606" id="comment_post_ID">
            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
          </p>
        </form>
      </div><!-- #respond -->

    </div>