<div class="col-lg-8 my-2 mx-3" id="article_index">
  <!-- inser -->
</div>
</div>
<hr style="width: 50%; margin-left: 25%;">
<div class=" slogan-banner">
<h3 style="text-align: center;"><b>Tin tức</b></h3>
<div>
  <hr
    style="width: 5%; position: relative; top: 19px; margin-left: 42.5%; border: 2px solid #000; border-radius: 2px; ">
  <i class="fa fa-newspaper-o" style="margin-top: 20px;margin-left: 90px;" aria-hidden="true"></i>
  <hr
    style="width: 5%; position: relative; bottom: 76px;  left: 680px; border: 2px solid #000; border-radius: 2px;">
</div>
</div>
<div class="container">
<div class="row " id="article_Tintuc">
  <div class="col-lg-4">

    <h4 style="color: darkgreen;">Hội thảo</h4>

  </div>
  <div class="col-lg-4">

    <h4 style="color: darkgreen;">Sự kiện</h4>

  </div>

  <div class="col-lg-4">

    <h4 style="color: darkgreen;">Thông báo</h4>

  </div>
</div>
</div>
<hr style="width: 50%; margin-left: 25%;">
<div class="slogan-banner">
<h3 style="text-align: center;"><b>Đào tạo </b></h3>
<div>
  <hr
    style="width: 5%; position: relative; top: 19px; margin-left: 42%; border: 2px solid #000; border-radius: 2px; ">
  <i class="fa fa-sitemap" style="margin-top: 20px;margin-left: 95px;" aria-hidden="true"></i>
  <hr style="width: 5%; position: relative; bottom: 76px;  left:53%; border: 2px solid #000; border-radius: 2px;">
</div>
<div class="container">
  <div class="row" id="article_DaoTao">
    <!-- insert -->
  </div>
</div>
</div>